
.netscape-container img {
  width: 88px;
  height: 31px;
}

.button-container {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: .5em;
  img {
    align-self: center;
  }
}
