header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  li {
    display: inline-block;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }
}
