/*
  Made with love by @kittywitch ^_^
*/

@use "headings";
@use "coloring";
@use "code";
@use "footer";
@use "header";
@use "images";
@use "nonoscript";
@use "helper";
@use "88x31" as netscape;

* {
  box-sizing: border-box;
}

/* For the subculture "code" dropdowns */
summary > h3 {
  display: inline-block;
}

/* Otherwise the border overflows the content */

a {
  @include headings.headings {
    width: fit-content;
  }
}

body {
    /* Make the body a 80 character wide container */
    width: 80ch;
    /* Center the container within the viewport */ 
    margin: 0 auto;
    /* Give the lines an adequate amount of room to breathe. */
    line-height: 1.4;
    /* Make sure the edge of the body has a gap for mobile */
    padding: 1em;
}

// Set the border to exist before colouration on hover so that it doesn't resize the element
a, a:link, a:visited {
  text-decoration: none;
  border-bottom: 0.01em transparent solid;
  @include headings.headings {
    border-bottom: 0.01em transparent solid;
  }
}
