<hr>
<nav id="contact">
    <ul>
        <li>E-mail: kat (at) dork (dot) dev</li>
        <li>Git: <a href="https://github.com/kittywitch">kittywitch</a></li>
        <li>Other websites of mine: <a href="https://kittywit.ch">kittywit.ch</a>, <a href="https://inskip.me">inskip.me</a>.</li>
        <li>Feed: <a href="/rss.xml">RSS</a></li>
    </ul>
</nav>