{% extends "base.html" %}

{% block content %}
<section id="blogposts">
  <h2>Things I find value in sharing</h2>
  {% set data = load_data(path="content/external/external.toml") %}
  {% for category in data.categories %}
  <section>
    <h3>{{ category.title }}</h3>
    {% if category.note is defined %}
    <p>{{ category.note }}</p>
    {% endif %}
    <ul>
    {% for post in category.posts %}
    <li>
      <article>
          <a href="{{post.permalink | safe}}"><strong>{{ post.title }}</strong></a>
          {% if post.author is defined %} by {{ post.author }}{% endif %}{% if post.archive is defined %} - <a href="{{post.archive}}">Archive</a> {% endif %}{% if post.suffix is defined %} ({{ post.suffix }}){% endif %}
      </article>
    </li>
    {% endfor %}
    </ul>
  </section>
  {% endfor %}
</section>
{% endblock content %}

