{% extends "base.html" %}

{% block content %}
<section id="about">
  <h2>About</h2>

  Hi! I'm Kat. I have an eclectic range of interests.
</section>

<section id="interests">
  <h2>Interests</h2>

  <ul>
    <li>Software Development</li>
    <li>Video game modding</li>
    <li>System Administration</li>
    <li>Development Operations</li>
    <li>Digital Infrastructure</li>
    <li>Hobbyist Electronics</li>
    <li>Smart Home Projects</li>
    <li>Software-defined Radio</li>
    <li>Amateur Radio (not yet licensed!)</li>
    <li>Firearms</li>
    <li>Anime and Manga</li>
    <li>Cyber Security</li>
    <li>3D Printing</li>
    <li>Mechanical Keyboards</li>
  </ul>
</section>

<section id="projects">
  <h2>Projects</h2>

  Please see <a href="https://github.com/kittywitch">my GitHub</a>.

  <nav>
      <ul>
              <li>
                  <article>
                      <a href="https://github.com/TaimiHUD/TaimiHUD">
                          <h3>TaimiHUD/TaimiHUD</h3>
                      </a>
                      <p>A Rust Guild Wars 2 addon that provides Encounter Timers, Squad Marker Presets and Pathing for Nexus and ArcDPS.</p>
                  </article>
              </li>
              <li>
                  <article>
                      <a href="https://github.com/kittywitch/infrastructure">
                          <h3>kittywitch/infrastructure</h3>
                      </a>
                      <p>Personal NixOS + Terraform infrastructure repository.</p>
                  </article>
              </li>
              <li>
                  <article>
                      <a href="https://github.com/gensokyo.zone/infrastructure">
                          <h3>gensokyo-zone/infrastructure</h3>
                      </a>
                      <p>Apartment NixOS + Terraform infrastructure repository, a project with my wife!</p>
                  </article>
              </li>
          <li>
              <article>
                  <a href="https://github.com/kittywitch/konawall-py">
                      <h3>kittywitch/konawall-py</h3>
                  </a>
                  <p>Wallpaper changer for multiple desktop environments with modular services intended to be used with boorus, currently konachan and e621.</p>
              </article>
          </li>
      </ul>
  </nav>

</section>

{% endblock content %}
