{% extends "base.html" %}

{% block content %}
<section id="about">
  <h2>About</h2>

  Hi! I'm Kat. I have an eclectic range of interests; as described on this page.

  <section id="furrycode">
    <details>
      <summary><h3>Furry Code</h3></summary>

      <code><pre>FG[Snow leopard and arctic fox hybrid]4a A- C- D H+ M P++ R T+++ W- Z- Sf+ RLRLAT a cl+++ e++ f++++ h+++ i+++ j+++ p- sf+</pre></code>

      <a href="https://mj.ucw.cz/furry/?code=FG%5bSnow+leopard+and+arctic+fox+hybrid%5d4a+A-+C-+D+H%2b+M+P%2b%2b+R+T%2b%2b%2b+W-+Z-+Sf%2b+RLRLAT+a+cl%2b%2b%2b+e%2b%2b+f%2b%2b%2b%2b+h%2b%2b%2b+i%2b%2b%2b+j%2b%2b%2b+p-+sf%2b">Decode</a>
    </details>
  </section>

  <section id="geekcode">
    <details>
      <summary><h3>Geek Code</h3></summary>

      <code><pre>-----BEGIN GEEK CODE BLOCK-----
Version: 3.12
GCS/IT d-- s: C++ UL L+++ W++ 
PS+++ PE-- Y++ PGP++ t+ 5+ X+ tv- 
b D+ G e++ h--- r+++ x+
------END GEEK CODE BLOCK------</pre></code>

      <a href="https://mj.ucw.cz/geek/?code=GCS%2fIT+d--+s%3a+C%2b%2b+UL+L%2b%2b%2b+W%2b%2b+PS%2b%2b%2b+PE--+Y%2b%2b+PGP%2b%2b+t%2b+5%2b+X%2b+tv-+b+D%2b+G+e%2b%2b+h---+r%2b%2b%2b+x%2b">Decode</a>
    </details>
  </section>
</section>

<section class="netscape-container" id="badges">
  <hr>
  <h3>Web badges <small><a href="https://en.wikipedia.org/wiki/Web_badge">Explain?</a></small></h3>

  <div class="button-container">
    <img src="/88x31/nonhuman.png" alt="I'm therian; non-human."/>
    <img src="/88x31/trans.png" alt="I'm a transgender woman."/>
    <img src="/88x31/nb.png" alt="I also identify as non-binary."/>
    <img src="/88x31/lesbian.png" alt="I'm a lesbian."/>
    <img src="/88x31/polyamory.png" alt="I'm polyamorous."/>
    <img src="/88x31/autism.png" alt="I'm autistic."/>
    <img src="/88x31/pluralproud.png" alt="Plural and proud!"/>
    <img src="/88x31/ourpaws.png" alt="Furry!"/>
    <img src="/88x31/blahaj.png" alt="I love my IKEA sharks"/>
    <img src="/88x31/boykisser.png" alt=":3"/>
    <a href="https://nixos.org">
      <img src="/88x31/nixos.png" alt="Powered by NixOS; the website isn't currently but hopefully will be in the future! I run it on everything else though."/>
    </a>
    <a href="https://neovim.io">
      <img src="/88x31/neovim.gif" alt="Made with Neovim"/>
    </a>
    <a href="https://firefox.com">
      <img src="/88x31/fftake.gif" alt="Firefox; take back the web!"/>
    </a>
    <a href="https://ublockorigin.com/">
      <img src="/88x31/button-ublock.gif" alt="uBlock Origin, now! Death to the corporate web!"/>
    </a>
    <img src="/88x31/abc.gif" alt="Anything but Chrome!"/>
    <a href="https://canada.ca">
      <img src="/88x31/canada.gif" alt="Canadian flag with Eh?"/>
    </a>
    <a href="https://gov.uk">
      <img src="/88x31/briish.gif" alt="Union Jack; flag of the United Kingdom"/>
    </a>
    <img src="/88x31/anarchynow.gif" alt="Anarchy, now!"/>
    <img src="/88x31/piracy.png" alt="Piracy, now!"/>
    <img src="/88x31/pgp-now.gif" alt="PGP, now!"/>
    <img src="/88x31/antinazi.gif" alt="Death to fascists!"/>
    <img src="/88x31/roly-saynotoweb3.gif" alt="Fuck Web3!"/>
    <img src="/88x31/fucknfts.png" alt="Fuck NFTs!"/>
    <img src="/88x31/antidiscord.gif" alt="Fuck Discord!"/>
    <img src="/88x31/ircworks.gif" alt="IRC works!"/>
    <img src="/88x31/acab.gif" alt="All cops are bastards"/>
    <img src="/88x31/trn.png" alt="Trans rights, now!"/>
    <img src="/88x31/ao3.gif" alt="Pro AO3 freak"/>
    <img src="/88x31/xenia.png" alt="Xenia my beloved"/>
    <img src="/88x31/openeyes.jpg" alt="Open your eyes!"/>
    <img src="/88x31/acidnow.jpg" alt="Acid now! :p"/>
    <img src="/88x31/keysmash.gif" alt="Keysmash equality"/>
    <img src="/88x31/button-2hu.gif" alt="2hu!!!"/>
    <img src="/88x31/badapple.webp" alt="bad apple!!!"/>
    <img src="/88x31/cuteanimegirls.gif" alt="Cute anime girls, now! :3"/>
    <img src="/88x31/lain.gif" alt="Serial Experiments Lain"/>
    <img src="/88x31/ccs.gif" alt="Cardcaptor Sakura :3"/>
    <a href="https://pokemon.com">
      <img src="/88x31/pokemon.jpg" alt="Pokemon forever!"/>
    </a>
    <img src="/88x31/medjed.jpg" alt="Medjed; <3 Futaba Sakura, <3 Persona 5"/>
    <img src="/88x31/hl.gif" alt="Half Life"/>
    <img src="/88x31/minecraft.gif" alt="Minecraft"/>
    <img src="/88x31/button-html.gif" alt="&lt;HTML&gt Learn it today">
    <img src="/88x31/button-css.gif" alt="CSS is difficult">
    <img src="/88x31/button-grid.gif" alt="Made with CSS Grid">
    <img src="/88x31/queer.png" alt="You're telling me a queer coded this?">
  </div>
  <br>
  <h4>Sources, where known:</h4>
  <a href="https://rainy.gay"><img src="/88x31/rainysource.png" alt="rainy.gay"/></a>
  <a href="https://github.com/moosyu/buttons"><img src="/88x31/moosyuBtn.gif" alt="moosyu"/></a>
  <a href="https://qalle.neocities.org/88x31/"><img src="/88x31/qalle.png" alt="qalle"/></a>
  <a href="https://capstasher.neocities.org/"><img src="/88x31/capstasher.png" alt="capstasher"></a>
  <a href="https://hellnet.work">hellnet.work</a>
  <hr>
</section>

<section id="projects">
  <h2>Projects</h2>

  Please see <a href="https://git.kittywit.ch/kat">my Forgejo</a> and <a href="https://github.com/kittywitch">my GitHub</a>.

  <h3>Notable items showcase</h3>
  <nav>
      <ul>
              <li>
                  <article>
                      <a href="https://github.com/TaimiHUD/TaimiHUD">
                          <h3>TaimiHUD/TaimiHUD</h3>
                      </a>
                      <p>A Rust Guild Wars 2 addon that provides Encounter Timers, Squad Marker Presets and Pathing for Nexus and ArcDPS.</p>
                  </article>
              </li>
              <li>
                  <article>
                      <a href="https://github.com/kittywitch/nixfiles">
                          <h3>kittywitch/nixfiles</h3>
                      </a>
                      <p>Personal NixOS + Terraform infrastructure repository.</p>
                  </article>
              </li>
              <li>
                  <article>
                      <a href="https://github.com/gensokyo-zone/infrastructure">
                          <h3>gensokyo-zone/infrastructure</h3>
                      </a>
                      <p>Apartment NixOS + Terraform infrastructure repository, a project with my wife!</p>
                  </article>
              </li>
      </ul>
  </nav>

</section>

<hr>

<section id="interests">
  <h2>Interests</h2>

  <ul class="two">
    <li>Japanese (pre-JLPT)</li>
    <li>Video Games</li>
    <li>Hobbyist Electronics</li>
    <li>Software-defined Radio</li>
    <li>Amateur Radio (not yet licensed!)</li>
    <li>Firearms (not yet licensed!)</li>
    <li>Anime and Manga</li>
    <li>3D Printing</li>
    <li>Mechanical Keyboards</li>
    <li>Political science and theory</li>
  </ul>
</section>

<section id="tech-interests">
  <h2>Tech Interests</h2>

  <ul class="two">
    <li>Software Development</li>
    <li>Video Game Modding</li>
    <li>System Administration</li>
    <li>DevSecOps + GitOps</li>
    <li>Smart Home</li>
    <li>Cyber Security</li>
  </ul>
</section>

{% endblock content %}
