<!-- Component for no-noscript; Showing an item only if you have Javascript -->

<!--
  Motivation:
    * Provide things with script tag related behaviour only if the user has Javascript
    * If the user does not have Javascript, just don't display those elements to them

  Other parts of the implementation:
    * Components with scripted behaviour should be given the "nonoscript" class.

  ```scss
  /* A kindness to those of you who don't use Javascript */
  .nonoscript {
    display: none;
  }
  ```
-->

<script src="/nonoscript.js">
</script>
<!-- End of component for no-noscript -->
