<!DOCTYPE html>
<html>
    <head>
      {% include "head.liquid" %}
    </head>
    <body>
    <div>
        <header>
          {% include "header.liquid" %}
        </header>
        <main>
            <article>
                {{ page.content }}
            </article>
        </main>
        <footer>
          {% include "footer.liquid" %}
        </footer>
    </div>
  </body>
</html>
